<?xml version="1.0"?>
<configuration>
  <!-- if you don't use SQLite database, the you can remove this file from project -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<appSettings>
		<add key="AdminUsername" value="admin" />
		<!--<add key="AdminPassword" value="admin123" />-->
		<add key="AdminPasswordHash" value="zvwJNFCkY9APwOsMI74JMDVv522k1DpsleFWJ/s+TCY=" />
		<add key="AdminPasswordSalt" value="6u+VXnQvhQ9HtRRUrcSLPwgT5y0zGQEeZt3H+25j7bE=" />

		<add key="SessionTimeoutMinutes" value="30" />
		<add key="MaxLoginAttempts" value="10" />
		<add key="LoginAttemptTimeoutMinutes" value="1" />
	</appSettings>
</configuration>
